<!DOCTYPE html>
<html>
<head> 
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<link type="text/css" media="all" rel="stylesheet" href="/static/css/style_for_pages.css"> 
	<link type="text/css" media="all" rel="stylesheet" href="/static/css/style_for_AboutPage.css">
	<link rel="shortcut icon" href="/static/icons/emblem_1.ico">
	<title> PLANT DISEASE AI DETECTION </title> 
	<meta http-equiv="Content-Language" content="uk"/>
</head>

<!-------------------------------------------------------------->
<body>

<div class="wrapper"> 

	<div class="title">	<a href="HomePage.html" 	class="crystal_clear_button"> PLANT DISEASE AI DETECTION  </a> </div>
	<div class="btn1"> 	<a href="Main1Page.html"   	class="crystal_clear_button btn">  MAIN </a> </div>
	<div class="btn2"> 	
		<div 	class="crystal_clear_button dropdown btn "> MORE &#9660;
			<div class="dropdown-content">
				<a href="HistoryPage.html" class="crystal_clear_button btn_2"> CASE HISTORY </a> 
				<a href="Treatment1Page.html" class="crystal_clear_button btn_2"> ADD TREATMENT </a> 
				<a href="Treatment2Page.html" class="crystal_clear_button btn_2"> TREATMENT HISTORY </a> 
				<a href="Statistics1Page.html" class="crystal_clear_button btn_2"> STATISTICS </a>
			</div>
		</div>
	</div>
	<div class="btn3"> 	<a href="AboutPage.html"   	class="crystal_clear_button btn"> ABOUT   </a> </div>


	<div class="PageBody">
	<p class="text_about"> Dear user, thank you for using this web app!<br/>
	Plant diseases are a major threat to food security all over the world. 
	In addition, it is a yield and quality constraint for growers of broadacre crops. <br/>
	Plant pathogens can be viral, fungal or bacterial. 
	They can damage plant parts above or below the ground. 
	When agriculture tries to support the life of the growing population, 
	plant disease reduces the production and quality of not only food and 
	fiber but also biofuel crops at the same time. 	<br/> <br/> 
	This app is an image recognition system, which is able to detect and classify 
	some diseases of such plants like:<br/> 
	• Apple,<br/>  
	• Blueberry,<br/>  
	• Cherry, <br/> 
	• Corn, <br/> 
	• Grape, <br/> 
	• Orange, <br/> 
	• Peach, <br/> 
	• Pepper, bell,<br/>  
	• Potato, <br/> 
	• Raspberry, <br/> 
	• Soybean, <br/> 
	• Squash, <br/> 
	• Strawberry, <br/> 
	• Tomato.<br/> <br/> 
	Author: Marina Antonevich <br/></p> 
	</div>
	
	<div class="btn4"> <a href="mailto:marina.antonevich@gmail.com" class="crystal_clear_button">  CONTACT VIA E-MAIL </a> </div>
	<div class="btn5"> <a href="http://fit.univ.kiev.ua/en/" target="_blank" class="crystal_clear_button">  UNIVERSITY FACULTY </a> </div>
	<div class="btn6"> <a href="PrivacyPolicyPage.html" class="crystal_clear_button">  PRIVACY POLICY		</a> </div>

</div>



</body>
</html>
