<!DOCTYPE html>
<html>
<head> 
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<link type="text/css" media="all" rel="stylesheet" href="/static/css/style_for_pages.css"> 
	<link type="text/css" media="all" rel="stylesheet" href="/static/css/style_for_HomePage.css">
	<link rel="shortcut icon" href="/static/icons/emblem_1.ico">
	<title> PLANT DISEASE AI DETECTION </title> 
	<meta http-equiv="Content-Language" content="uk"/>
</head>


<!-------------------------------------------------------------->
<body>

<div class="wrapper"> 

	<div class="title">	<a href="HomePage.html" 	class="crystal_clear_button"> PLANT DISEASE AI DETECTION  </a> </div>
	<div class="btn1"> 	<a href="Main1Page.html"   	class="crystal_clear_button btn">  MAIN </a> </div>
	<div class="btn2"> 	
		<div 	class="crystal_clear_button dropdown btn "> MORE &#9660;
			<div class="dropdown-content">
				<a href="HistoryPage.html" class="crystal_clear_button btn_2"> CASE HISTORY </a> 
				<a href="Treatment1Page.html" class="crystal_clear_button btn_2"> ADD TREATMENT </a> 
				<a href="Treatment2Page.html" class="crystal_clear_button btn_2"> TREATMENT HISTORY </a> 
				<a href="Statistics1Page.html" class="crystal_clear_button btn_2"> STATISTICS </a>
			</div>
		</div>
	</div>
	<div class="btn3"> 	<a href="AboutPage.html"   	class="crystal_clear_button btn"> ABOUT   </a> </div>
	
	
	<div class="PageBody">
		
		<div class="flat_background">
			BACHELOR THESIS <br/>
			<br/>
			"AN INTELLIGENT APPLICATION FOR THE AGRICULTURAL PLANTS’ DISEASES IDENTIFICATION BASED ON DEEP LEARNING"<br/>
			<br/>
			BY MARYNA ANTONEVYCH<br/>
			<br/>
			<br/>
			KYIV-2020<br/>
		</div>
	</div>
	


</div>


</body>
</html>

