<!DOCTYPE html>
<html>
<head> 
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<link rel="shortcut icon" href="/static/icons/emblem_1.ico">
	<title> PLANT DISEASE AI DETECTION </title> 
	<meta http-equiv="Content-Language" content="uk"/>
</head>


<body>


<!----------------------------------------------------------------------------->
<h1>PLANT DISEASE AI DETECTION Privacy Policy</h1>
<p>Effective date: May 22, 2020</p>

<p>
This policy explains what information we collect 
when you use PLANT DISEASE AI DETECTION’s ("PDAID") sites, 
services, mobile applications, products, and content. 
It also has information about how we store, use, transfer, 
and delete that information. 
</p>


<!----------------------------------------------------------------------------->
<h2>Information We Collect & How We Use It</h2>
<p>
PDAID doesn’t make money from ads. 
So we don’t collect data in order to advertise to you. 
The tracking we do at PDAID is to make our product work as well as possible. 
We collect information from your interactions with our Services. 
Some of this information, you send to us (such as your downloaded images). 

<p>We use this information to:</p>
	<ul>
		<li> provide, test, improve, promote and personalize the Services </li> 
		<li> easily classify your plants for diseases</li>
	</ul>
</p>


<!----------------------------------------------------------------------------->
<h2>Information Disclosure</h2>
<p>
Medium won’t transfer information about you 
to third parties for the purpose of providing 
or facilitating third-party advertising to you. 
We won’t sell information about you to a third-party.
</p>


<!----------------------------------------------------------------------------->
<h2>Data Security</h2>
<p>
We use encryption (HTTPS/TLS) to protect data transmitted to and from our site. 
However, no data transmission over the Internet is 100% secure, 
so we can’t guarantee security. You use the Service at your own risk, 
and you’re responsible for taking reasonable measures to secure your account.
</p>


<!----------------------------------------------------------------------------->

<h2>Contact Us</h2>
<p>If you have any questions about this Privacy Policy, please contact us:</p>
<p>By email: marina(dot)antonevich(at)gmail(dot)com</p>



</body>
