/*-------------- FULL BLOCK -------------*/
html{
	background-image: url('/static/pics/field_12.jpg');	
}

/*-------------- BODY BLOCK -------------*/

.PageBody {
	height: 500px;
    overflow: scroll;
	overflow-x: hidden; 
}

table, th, td {
	border: 1px solid white;
}

table {
	width: 80%;
	border-collapse: collapse;
	text-align:center;
	vertical-align: middle;
	font-size: 70%;
	
	background: rgba(88, 157, 98, 0.7);
	padding: 20px;
	color: white;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	
	box-shadow: 0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
	inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
	inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
	inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
	inset 0 -15px 30px rgba(0,0,0,0.8); /* Dark Background */

	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.5),
	inset 0 1px rgba(255,255,255,0.3),
	inset 0 10px rgba(255,255,255,0.2),
	inset 0 10px 20px rgba(255,255,255,0.25),
	inset 0 -15px 30px rgba(0,0,0,0.8);
	
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.5),
	inset 0 1px rgba(255,255,255,0.3),
	inset 0 10px rgba(255,255,255,0.2),
	inset 0 10px 20px rgba(255,255,255,0.25),
	inset 0 -15px 30px rgba(0,0,0,0.8);
	
	display: inline-block;
	margin: 0 auto;
}

td {
	font-weight:normal;
	font-variant:normal;
	font-size: 80%;
}

td.case_no {
	width: 10%;
}




